<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Ronny's Chatbot Assistant</h1>
    <h3>Made with Python (Flask), SQLite, Chatterbot, TensorFlow <br> **Hosted on Ronny's RaspberryPi3**</h3>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Howdy! I'm Ronny's AI assistant (I get smarter as I communicate with you). My knowledge is stored in a SQLite database hosted on Ronny's RaspberryPi3 in his living room.</span></p>
        <p class="botText"><span>The device has my entire codebase in it, so hopefully Ronny's cats don't know it over! Ask me any questions about Ronny's experience/background and I can try to help.</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
      </script>
    </div>
  </body>
</html>
